.home{
    display: flex;
    min-height: 100vh;
    background: url('../Images/home.jpg');
    background-position: center;
    background-size: cover;
}

.typo{
    position: relative;
    margin: 40% 25% 10% 35%;
    color: white;
    /* text-align: center; */
}

.course
{
    text-align: center;
    margin-top: 80px;
}