@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

body, html{
  width: 100lvw;
  height: 100lvh;
  /* background: red; */
}