.user_container{
    width: 100lvw;
    height: 100lvh;
    display: flex;
    flex-direction: column;
}
.custom-search .ant-btn {
  background-color: #007791; 
  border-color: #007791; 
}

.custom-search .ant-btn:hover,
.custom-search .ant-btn:focus  {
  background-color: #007791; /* Change button background color on hover */
  border-color: #007791; /* Change button border color on hover */
}